@import '~bootstrap/scss/bootstrap';

.custom-navbar{
    background-color: #5c6b73;
    width: 100%;
    height: 75px;
    position: absolute;
    z-index: 3;

    .navbar-toggler{
        background-color: white;
        border: none; 
        padding:10px;
        &:focus {
            box-shadow: none; 
        }
    }

    .navbar-collapse{
        background-color: #5c6b73; 
        margin: 0; 
        padding: 0; 

        .nav-link{
            color: #E0FBFC; 
            padding: 10px 15px;
            margin-left: 30px !important;
            &:hover {
                color: #E9C46A; 
            }
        }

        .spacer{
            margin-left: 10px !important;
        }
    }

    .nav-link{
        color: #E0FBFC; 
        padding: 10px 15px;
    }

    // mobile optimization

    @media (max-width: 768px) {
        .navbar-collapse {
            position: absolute;
            top: 100%; 
            left: 0;
            width: 100%; 
            margin: 0;
            padding: 0;
            border:none;
            box-shadow: none;

        }

        .navbar-toggler{
            margin:0;
        }
    }

   .custom-brand{
        font-size: 35px;
        font-weight: 800;
        color: #E0FBFC;
        padding-left: 10px;

        // mobile optimization

        @media (max-width: 768px) {
            font-size: 28px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }

    }

    a{
        text-decoration: none;
    }

    p{
        padding:10px;
        text-decoration: none;
        color:#E0FBFC;
        font-size: 15px;
        font-weight: 700;
        display: block;
        bottom: 0;
        margin-top: 20px;

        &:hover{
            color: #E9C46A;
        }
    }

    

    .contact{
        color: #368f8b;
    }

    .navbar-toggler {
        margin: 0; 
        padding: 5px; 
      }
}
